.detalhes-container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-voltar {
  padding: 10px 20px;
  background-color: #181818;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 30px;
  transition: 0.3s;
}

.btn-voltar:hover {
  background-color: #333;
}

.detalhes-card {
  display: flex;
  gap: 40px;
  width: 80%;
  background: #121212;
  padding: 40px;
  border-radius: 16px;
  color: #fff;
}

.detalhes-img {
  width: 40%;
  border-radius: 12px;
  object-fit: cover;
}

.detalhes-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features-box {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  white-space: pre-line;
}

.loading {
  padding: 50px;
  text-align: center;
  color: #fff;
}


@media (max-width: 1024px) {
  .detalhes-card {
    width: 90%;
    padding: 30px;
    gap: 30px;
  }

  .detalhes-img {
    width: 45%;
  }

  .detalhes-info {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .detalhes-card {
    flex-direction: column;
    width: 95%;
    padding: 25px;
    gap: 25px;
  }

  .detalhes-img {
    width: 100%;
    height: auto;
  }

  .detalhes-info {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .btn-voltar {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 1.4rem;
  }

  .detalhes-card {
    padding: 20px;
  }

  .detalhes-info h1 {
    font-size: 2rem;
  }

  .detalhes-info p {
    font-size: 1.4rem;
  }

  .features-box {
    padding: 12px;
    font-size: 1.35rem;
  }
}
