@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --main-color: #f77f00;
    --white-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

.dark-mode {
    --bg-color: #0d0d14;
    --text-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, .6);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;      
    z-index: 100;
    transition: 0.3s ease;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.portifolio{
    font-size: 2.8rem;
    color: var(--main-color);
    font-weight: 500; 
    cursor: default;
    margin-right: auto;
    color: var(--main-color);
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-right: 3.5rem;
    transition: .3s ease;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background: var(--main-color);
}

#darkMode-icon,
#menu-icon {
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: pointer;
}

#menu-icon {
    display: none;
}

/* SECTION BASE */
section {
    min-height: 100vh;
    padding: 10rem 0% 2rem;
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --main-color: #ff9900;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

img{
    width: 420px;
    height: 430px;
}


body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color); 
  z-index: 100;
  transition: 0.3s ease;
}


.logo {
  font-size: 2.4rem;
  font-weight: 700;
}

section.home {
  min-height: 100vh;
  width: 100vw;
  padding: 12rem 6% 4rem;
  display: flex;
}

.conteudo-home {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: 100%;
}

.typing {
    font-size: 3rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid var(--main-color);
    width: 0ch;
    animation: typing 3s steps(30) infinite alternate,
               blink .7s infinite;
}

@keyframes typing {
    from { width: 0ch; }
    to { width: 28ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.conteudo-texto {
  max-width: 55rem;
}

.conteudo-texto h3 {
  font-size: 2.4rem;
}

.conteudo-texto h1 {
  font-size: 5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.texto-1 span {
  font-size: 2.2rem;
  color: var(--main-color);
  font-weight: 600;
}

.social-media {
  margin: 3rem 0;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--text-color);
    margin: 1.0rem 1.5rem 0rem 0;
    transition: .5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: #fff;
}

.btn {
  padding: 1rem 2.5rem;
  background: var(--main-color);
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.heading {
    margin-top: 30px;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5rem;
}

.heading span {
    color: var(--main-color);
}

.lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 3rem;
    padding: 0 7%;
    justify-content: center;
    align-items: stretch;
}


.card-projeto {
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1.5rem var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-align: left;
}


.dark-mode .card-projeto {
    background: #1e1e2d;
    border-color: rgba(255, 255, 255, 0.1);
}


.card-projeto:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 3rem rgba(255, 153, 0, 0.3); /* Efeito de destaque com cor principal */
}


.card-projeto img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}


.card-projeto h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-weight: 700;
}


.card-projeto p {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 1rem;
}


.card-projeto p strong {
    font-weight: 600;
    color: var(--main-color);
}


.heading{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
}

.heading span {
  color: #ff9900;
}

.projetos {
  margin-top:-60px;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.about-img img{
    width: 80%;
    height: 100%;
    display: flex;
}


@media (max-width: 1200px) {
    .conteudo-home {
        gap: 4rem;
    }

    .conteudo-texto h1 {
        font-size: 4rem;
    }

    .conteiner-profissional img {
        width: 340px;
        height: auto;
    }
}

@media (max-width: 992px) {

    .navbar {
        display: none; 
    }

    #menu-icon {
        display: block;
        font-size: 4rem;
    }

    section.home {
        padding-top: 14rem;
    }

    .conteudo-home {
        flex-direction: column;
        text-align: center;
    }

    .conteudo-texto {
        max-width: 100%;
    }

    .conteiner-profissional img {
        width: 300px;
        height: auto;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 4%;
    }

    .typing {
        display: inline-block; 
        font-size: 2.4rem;
    }

    .conteiner-profissional img {
        width: 260px;
    }

    .lista-projetos {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        padding: 0 4%;
    }
}

@media (max-width: 576px) {

    html {
        font-size: 50%;
    }

    .home {
        padding: 12rem 4% 4rem;
    }

    .conteudo-home {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .conteudo-texto h1 {
        font-size: 3.6rem;
    }

    .conteudo-texto h3 {
        font-size: 2rem;
    }

    .typing {
         display: inline-block; 
        font-size: 2rem;
        width: 100%;
    }

    .img-home {
        width: 80%;
        height: auto;
    }

    .card-projeto {
        padding: 2rem;
    }
}

@media (max-width: 420px) {

    .header {
        padding: 1.5rem 4%;
    }

    .portifolio {
        font-size: 2rem;
    }

    .conteiner-profissional img {
        width: 220px;
    }
}
